<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="customerapp"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="com.augmont.tests.TransactionMethodTest"/>
        <listEntry value="com.augmont.objectpages.CommonMethod"/>
        <listEntry value="com.augmont.objectpages.PurchaseSummaryPage"/>
        <listEntry value="com.augmont.test.basetestcases.PurchaseGold"/>
        <listEntry value="com.augmont.utility.GetExcelData"/>
        <listEntry value="com.augmont.utility.Helper"/>
        <listEntry value="com.augmont.tests.PurchaseMethodTest"/>
        <listEntry value="com.augmont.utility.AnnotationTransformer"/>
        <listEntry value="com.augmont.utility.ExtentReportManager"/>
        <listEntry value="com.augmont.objectpages.AddWalletBalance"/>
        <listEntry value="com.augmont.base.BaseTest"/>
        <listEntry value="com.augmont.objectpages.HomePage"/>
        <listEntry value="com.augmont.tests.PaymentMethodTest"/>
        <listEntry value="com.augmont.constant.TestConstants"/>
        <listEntry value="com.augmont.objectpages.TransactionPage"/>
        <listEntry value="com.augmont.utility.ConfigDataProvider"/>
        <listEntry value="com.augmont.utility.TokenReader"/>
        <listEntry value="com.augmont.api.GoldPurchaseAPI"/>
        <listEntry value="com.augmont.utility.RetryAnalyzer"/>
        <listEntry value="com.augmont.tests.LoginTest"/>
        <listEntry value="com.augmont.objectpages.PurchasePage"/>
        <listEntry value="com.augmont.objectpages.PaymentPage"/>
        <listEntry value="com.augmont.tests.AddWalletBalanceTest"/>
    </listAttribute>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
